body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.container {
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}
